<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="false" bootstrap="./test/bootstrap.php">

    <testsuites>
        <testsuite name="LibCloud_Compute">
            <directory>./test/Compute</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="512M" />
        <ini name="zend.enable_gc" value="0" />
    </php>

</phpunit>
